body{
    background-color: #b6b6b6;
    font: 19px ;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
#painel{
    width: 600px;
    
}
#menu{
    background-color: rgb(117, 120, 129);
    padding: 18px;
    border-radius: 10px;
}
a{
    color: chartreuse;
    text-decoration: none;
    padding: 16px;
}
img{
    width: 100%;
    height: 350px;
    border-radius: 10px;  
    border: 1px solid;
border-color: rgb(0, 0, 0);
box-shadow: 3px 3px 11px rgb(0, 0, 0) ;
}
#conteudo{
    margin: 30px auto;
    padding: 30px;
   width: 95%;
   border: 2px solid #929292;
   background: #b8b8b8;
   border-radius: 10px;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
   animation: fadeIn 1s ease-in-out;
}
footer {
    text-align: center;
    margin-top: 100px;
    padding: 2px 0;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

a {
    color: #33ff00;
     margin: 0 15px;
    font-size: 1.2rem;
     position: relative;
     transform: scale(4);
      }
      a:hover {
        background-color: #000000;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(98, 98, 100, 0.7);
        transform: scale(4);
       }
       font{
        color: red;
       }
       #conteudo p{
        padding: 17px;
        font-size: 17px;
       }
h1{
   color: darkslategray;
}